.tag {
  display: inline-block;
  box-sizing: unset;
  border-radius: 1rem;
}

.tag-small {
  padding: 1px 6px;
  font-family: var(--text-label-font-family);
  font-size: var(--text-label-font-size);
  font-weight: var(--text-label-font-weight);
  line-height: var(--text-label-line-height);
}

.tag-primary.tag-outline {
  color: var(--color-primary-500);
  background-color: var(--color-primary-transparent-100);
  border: 1px solid var(--color-primary-500);
}
