.m-t-14 {
  margin-top: 14px;
}

.m-b-28 {
  margin-bottom: 28px;
}

.bolder {
  font-weight: bolder;
}

.d-flex {
  display: flex;
}

.flex-d-row {
  flex-direction: row;
}

.flex-d-column {
  flex-direction: column;
}

.flex-d-row.space-between {
  justify-content: space-between;
}

.flex-d-row.flex-end {
  align-items: flex-end;
}

.flex-d-column.center {
  align-items: center;
}
