.app-layout {

  .header {

    nav {
      box-sizing: border-box;
      box-shadow: none;
      align-items: stretch;

      .header-item {
        box-sizing: border-box;
        display: flex;
      }

      .header-item+.header-item {
        margin-left: 20px;
      }

      .header-item.logo-container {
        align-items: center;

        span {
          font-weight: bold;
          font-size: x-large;
        }
      }

      .header-item.spacer {
        flex: 1;
      }

      .header-item.sidebar-toggle-button {

        @include media-breakpoint-up(md) {
          display: none;
        }

        button {
          padding: 4px 2px !important;
          border-width: 0px !important;

          nb-icon {
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
            vertical-align: middle;
          }
        }
      }

      .header-item.clickable {
        cursor: pointer;
      }
    }
  }

  .sidebar {

    @include media-breakpoint-up(md) {
      display: none;
    }

    .main-container {

      .scrollable {
        padding: 0px;
      }
    }
  }

  .sidebar.fixed {
    top: 0 !important;

    .main-container-fixed {
      top: 0 !important;
    }
  }

  .sidebar-control-container {
    box-sizing: border-box;
    padding: 20px;
    display: flex;

    button {
      padding: 4px 2px !important;
      border-width: 0px !important;

      nb-icon {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        vertical-align: middle;
      }
    }
  }

  .sidebar-menu {
    box-sizing: border-box;
    padding: 20px;

    .menu-items {

      .menu-item {

        a {
          height: 60px;
          padding: 12px 20px !important;
        }
      }
    }
  }

  .columns {
    display: block !important;
    height: calc(100vh - var(--header-height));
    max-height: calc(100vh - var(--header-height));
    overflow-y: auto;
  }

  .column {
    display: block !important;
    padding: 0 !important;
  }

  .side-column {
    display: none !important;

    @include media-breakpoint-up(md) {
      display: unset !important;
      position: fixed;
      top: var(--header-height);
      width: 25%;
      height: calc(100vh - var(--header-height));
      max-height: calc(100vh - var(--header-height));
      overflow-y: auto;
    }

    .sidebar-menu {
      padding: 20px 0px;
    }
  }

  .side-column.start {
    left: 0;
  }

  .side-column.end {
    right: 0;
  }

  .main-column {

    @include media-breakpoint-up(md) {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }

    .main-content {
      box-sizing: border-box;
      padding: 20px;
    }
  }
}
