@import '~@nebular/theme/styles/themes/default';


$nb-themes: nb-register-theme(
  (
    color-primary-100: #FFF5CE,
    color-primary-200: #FFE89C,
    color-primary-300: #FFD76C,
    color-primary-400: #FFC747,
    color-primary-500: #FFAD0A,
    color-primary-600: #DB8D07,
    color-primary-700: #B76F05,
    color-primary-800: #935403,
    color-primary-900: #7A4101,

    color-primary-transparent-100: rgba(255, 173, 10, 0.08),
    color-primary-transparent-200: rgba(255, 173, 10, 0.16),
    color-primary-transparent-300: rgba(255, 173, 10, 0.24),
    color-primary-transparent-400: rgba(255, 173, 10, 0.32),
    color-primary-transparent-500: rgba(255, 173, 10, 0.4),
    color-primary-transparent-600: rgba(255, 173, 10, 0.48),

    color-success-100: #CFFED3,
    color-success-200: #9FFDB2,
    color-success-300: #6FF999,
    color-success-400: #4AF48F,
    color-success-500: #12ED80,
    color-success-600: #0DCB7F,
    color-success-700: #09AA7A,
    color-success-800: #05896F,
    color-success-900: #037166,

    color-success-transparent-100: rgba(18, 237, 128, 0.08),
    color-success-transparent-200: rgba(18, 237, 128, 0.16),
    color-success-transparent-300: rgba(18, 237, 128, 0.24),
    color-success-transparent-400: rgba(18, 237, 128, 0.32),
    color-success-transparent-500: rgba(18, 237, 128, 0.4),
    color-success-transparent-600: rgba(18, 237, 128, 0.48),

    color-info-100: #D0FDFE,
    color-info-200: #A2F5FE,
    color-info-300: #73E6FD,
    color-info-400: #51D4FB,
    color-info-500: #18B6F9,
    color-info-600: #118ED6,
    color-info-700: #0C6BB3,
    color-info-800: #074C90,
    color-info-900: #043677,

    color-info-transparent-100: rgba(24, 182, 249, 0.08),
    color-info-transparent-200: rgba(24, 182, 249, 0.16),
    color-info-transparent-300: rgba(24, 182, 249, 0.24),
    color-info-transparent-400: rgba(24, 182, 249, 0.32),
    color-info-transparent-500: rgba(24, 182, 249, 0.4),
    color-info-transparent-600: rgba(24, 182, 249, 0.48),

    color-warning-100: #FEFED4,
    color-warning-200: #FEFDAB,
    color-warning-300: #FEFC80,
    color-warning-400: #FDFA61,
    color-warning-500: #FCF82D,
    color-warning-600: #D8D420,
    color-warning-700: #B5B116,
    color-warning-800: #928E0E,
    color-warning-900: #787508,

    color-warning-transparent-100: rgba(252, 249, 45, 0.08),
    color-warning-transparent-200: rgba(252, 249, 45, 0.16),
    color-warning-transparent-300: rgba(252, 249, 45, 0.24),
    color-warning-transparent-400: rgba(252, 249, 45, 0.32),
    color-warning-transparent-500: rgba(252, 249, 45, 0.4),
    color-warning-transparent-600: rgba(252, 249, 45, 0.48),

    color-danger-100: #FFE8D6,
    color-danger-200: #FFCBAD,
    color-danger-300: #FFA883,
    color-danger-400: #FF8665,
    color-danger-500: #FF4E32,
    color-danger-600: #DB2F24,
    color-danger-700: #B7191C,
    color-danger-800: #930F1D,
    color-danger-900: #7A091D,

    color-danger-transparent-100: rgba(255, 77, 50, 0.08),
    color-danger-transparent-200: rgba(255, 77, 50, 0.16),
    color-danger-transparent-300: rgba(255, 77, 50, 0.24),
    color-danger-transparent-400: rgba(255, 77, 50, 0.32),
    color-danger-transparent-500: rgba(255, 77, 50, 0.4),
    color-danger-transparent-600: rgba(255, 77, 50, 0.48),

    card-shadow: shadow,
    card-border-width: 0,
    card-border-radius: 1rem,

    layout-height: calc(100vh - var(--header-height)),
    layout-padding: 20px,
    main-content-inner-height: calc(100vh - var(--header-height) - 2 * var(--layout-padding))
  ),
  light,
  default
);
