<nb-layout class="app-layout">

  <nb-layout-header subheader class="header">
    <div class="header-item logo-container">
      <span>Gru</span>
    </div>
    <div class="header-item spacer"></div>
    <div
      class="header-item sidebar-toggle-button"
    >
      <button
        nbButton
        ghost
        status="primary"
        shape="round"
        (click)="toggleSidebar()"
      >
        <nb-icon icon="menu-outline"></nb-icon>
      </button>
    </div>
    <app-loader class="app-layout-loader"></app-loader>
  </nb-layout-header>

  <nb-sidebar
    class="sidebar"
    end
    fixed
    [tag]="sidebarTag"
    [state]="'collapsed'"
  >
    <div class="sidebar-control-container">
      <button
        nbButton
        ghost
        status="primary"
        shape="round"
        (click)="toggleSidebar()"
      >
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </div>
    <nb-menu
      class="sidebar-menu"
      [items]="sidebarMenuItems"
    ></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="column side-column start">
    <nb-menu
      class="sidebar-menu"
      [items]="sidebarMenuItems"
    ></nb-menu>
  </nb-layout-column>
  <nb-layout-column class="column main-column">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
  <nb-layout-column class="column side-column end">

  </nb-layout-column>

</nb-layout>
